div#board {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  position: relative;
  overflow: hidden;
}
.cell {
  height: 100px;
  width: 100px;
}
.top-row {
  border: 1px dashed;
  width: 98px;
  height: 98px;
  cursor:pointer;
}
.top-row:hover {
  background-color: aliceblue;
}
.cell:not(.top-row){
  pointer-events: none;
}

.game-piece {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
  transition: top 1000ms;
}

.game-piece.first {
  top: 600px;
}
.game-piece.second {
  top: 500px;
}
.game-piece.third {
  top: 400px;
}
.game-piece.fourth {
  top: 300px;
}
.game-piece.fifth {
  top: 200px;
}
.game-piece.sixth {
  top: 100px;
}

.column.no-room {pointer-events:none;}